*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-body: white;
  }

body{
    font-family: 'Roboto Slab', serif;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 0.45em;
    background-color: #F5F5F5;
  } 
body::-webkit-scrollbar-thumb {
    background-color: #0000009c;
    border-radius: 30px;
} 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

.container{
    max-width: 1240px;
}

.nav{
    position: static;
    z-index: -1;
}
nav{
    display: flex;

    position: fixed;
    top: 0;
    border-bottom: 3px solid whitesmoke;

    width: 100%;
    margin: auto;
    justify-content: space-around;
    padding: 16px 25px;;
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    background-color: var(--bg-body);
    z-index: 1;
}
nav a{
    text-decoration: none;
    color: black;
}
nav img{
    width: 50px;
    height: 50px;
}
nav span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -10px;
    font-size: .8rem;
    padding-top: 10px;
}
nav span a{
    display: none;
}

.nav-right{
    display: flex;
    gap: 25px;
}
.nav-right a{
    position: relative;
}

.nav-left{
    display: flex;
    gap: 15px;
}
.nav-left a{
    position: relative;
    overflow: hidden;
}
.nav-left a::after{
    content: '';
    width: 30px;
    height: 2px;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transform: translateY(-30);
    opacity: 0;
    transition: .2s;
}
.nav-left a:hover:after,.nav-left a.selected:after{
    transform: translateX(0);
    opacity: 1;
}

/* @keyframes navAnim {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
} */

@keyframes navAnimBack {
    0%{
        opacity: 0;
        transform: translateY(-14px);
        padding: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        padding: 16px 25px;
    }
}
@keyframes navAnimMid {
    0%{
        gap: 50px;
    }
    100%{
        gap: 25px;
    }
}




#desc{
    text-align: center;
    font-size: 2.5rem;
    padding: 80px;
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    
    z-index: 999;
    background-color: var(--bg-body);
}
#desc p span{
    color: #91ac7d;
}
.name{
    position: relative
}
.desc-before{
    width: 30%;
    height: 40px;
    background-color: #6d7c62;
    position: absolute;
    top: 0;
    left: 0;
    animation-timing-function: ease-out;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateX(-100%);
}
@keyframes descBeforeAnim{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.desc-after{
    width: 30%;
    height: 40px;
    background-color: #6d7c62;
    position: absolute; 
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
}
@keyframes descAfterAnim{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}




#about{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 60px 0;
    flex-wrap: wrap;
    margin: auto;

    z-index: 999;
    background-color: var(--bg-body);
}
.about-left{
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-left span{
    width: 370px;
    height: 370px;
    background-position: center;
    background-size: cover;
}
#image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-profile {
    stroke: black;
    stroke-width: 3px;
    stroke-linejoin: round;
    paint-order: stroke;
    filter: drop-shadow(0px 0px 4px gray);
  }
.about-left img{
    object-fit: cover;
}
.about-right{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 35px;
    padding-right: 50px;
    flex-direction: column;
    position: relative;
}
.about-right h1{
    padding-bottom: 30px;
    font-family: 'Aboreto', cursive;
}
.about-right p{
    padding-bottom: 10px;
    letter-spacing: .4px;
    word-spacing: .9px;
}
.about-skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-skill svg{
    margin-right: 10px;
    color: green;
}
.about-skill li{
    display: flex;
    align-items: center;
    margin-bottom: 3.5px;
}







#skill{
    padding: 60px 10px;
    text-align: center;
    background-color: var(--bg-body);
}
#skill h1{
    padding-bottom: 40px;
}
.skill-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px;
}
.skill-container span{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    transition: .3s;
    filter: grayscale(.85);
    position: relative;
}
.skill-container span:hover{
    filter: grayscale(0);
}
.skill-container span img{
    width: 80%;
    padding: 40px 15px;
}
.skill-container span:first-child{
    padding: 10px;
}
.skill-container span h2{
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 1rem;
}



#works{
    text-align: center;
    padding: 60px 10px;
    background-color: var(--bg-body);
}
#works h1{
    margin: 30px 0;
}
.project{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    max-width: 1250px;
    margin: auto;
    gap: 10px 40px;
    place-content: center;
}
.project img{
    width: 100%;
    object-fit: cover;
    border-radius: 3.2px;
    box-shadow: 0px 0px 1px black;
    transition: .3s;
}
.project img:hover{
    filter: grayscale(0);
    box-shadow: 0px 0px 3px black;
}
.project span{
    text-align: left;
    padding: 20px;
}
.project span h2{
    font-size: 1.4rem;
    color: black;
}
.project span p{
    font-size: .86rem;
    color: #0e0e0e;
    line-height: 15px;
    padding-top: 10px;
}
.project a{
    text-decoration: none;
    width: 100%;
}



#contact{
    width: 100%;
    padding: 20px 0;
    background-color: var(--bg-body);
}
.contact-container{
    min-width: 100px;
    max-width: 800px;
    margin: auto;
    background-color: #3f5033;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    place-items: center;
    place-content: center;
    border-radius: 7.5px;
    padding: 20px 0px;
    color: whitesmoke;

    /* bg move */
    /* background: linear-gradient(40deg, #6d7c62, #243319);
    background-size: 300% 300%;
    animation-duration: 8s;
    animation-name: linear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
}
@keyframes linear{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.contact-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left{
    display: grid;
    gap: 5px;
    position: relative;
}
.contact-pointer{
    z-index: 0;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, #3f5033, #ffffff40);
    border-radius: 0px 7px 7px 0px;
    transition: height 0.15s ease, top 0.15s ease; 
}

.contact-left > div {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    text-align: right;
    padding-right: 10px;
}

.contact-left svg{
    width: 50px;
    height: 50px;
    color: white;
    padding: 10px;
}
.location svg{
    width: 60px;
    height: 60px;
}
.contact-container h1{
    font-size: 1rem;
}
.contact-container p{
    margin-bottom: 5px;
}
@keyframes background-animation {
    0% {
      background-color: #6d7c62;
    }
    50% {
      background-color: whitesmoke;
    }
    100% {
      background-color: #6d7c62;
    }
  }









#footer{
    text-align: center;
    padding: 20px;
    color: #0e0e0e;
    font-size: 1.1rem;
}
#footer a{
    color: green;
    text-decoration: none;
}



@media only screen and (max-width: 885px){
    #about{
        padding: 30px 0;
    }
    .about-skill, .about-right p{
        font-size: .8rem;
    }
    .about-right h1{
        font-size: 1.8rem;
    }
    .about-right svg{
        padding: 3px;
    }
    .about-left span{
        width: 270px;
        height: 270px;
    }
    .study img{
        width: 150px;
    }
    .study img:nth-child(2){
        width: 80px;
    }
    #about h3{
        padding-bottom: 15px;
        font-size: 1rem;
    }
    .skill-container span h2{
        font-size: .9rem;
    }
    #footer{
        font-size: .85rem;
    }
    .project span h1{
        font-size: 1.1rem;
    }
    #works{
        padding: 10px;
    }
}

@media only screen and (min-width: 1458px){
    #desc{
        font-size: 3rem;
    }
    .about-right p{
        padding-bottom: 10px;
        letter-spacing: .4px;
        word-spacing: .9px;
        font-size: 1.2rem;
    }
    .project span p{
        font-size: 1rem;
        line-height: 18px;
    }
}

@media only screen and (max-width: 780px){
    .project{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 700px){
    nav{
        font-size: .85rem;
    }
    .skill-container{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 40px;
    }
    #works{
        padding-bottom: 0;
    }
    .project{
        padding-bottom: 15px;
    }
    .profile{
        height: 500px;
    }
    .project span p{
        font-size: .85rem;
    }
}

@media only screen and (max-width: 650px){
    #about{
        flex-direction: column;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 80%;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
        padding: 25px 0;
    }
    .about-right p{
        font-size: 1rem;
    }
    .about-right h1{
        font-size: 2em;
    }
    .about-skill svg{
        padding: 0;
    }
    .about-skill{
        font-size: 1rem;
    }
    
    .study{
        flex-wrap: wrap;
    }
    .study img{
        width: 120px;
    }
    #desc{
        font-size: 1.8rem;
    }
    .project{
        grid-template-columns: repeat(2, 1fr);
    }

    nav span{
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    nav span a{
        display: inline;
    }
    .nav-left{
        display: none;
    }
    nav img{
        width: 30px;
        height: auto;
    }
    .nav-left a{
        margin: 30px;
    }
    .nav-right{
        display: none;
    }
    .profile{
        height: 400px;
    }
    .skill-container span:first-child{
        padding: 0;
    }
    .skill-container span img{
        width: 100%;
    }
    #skill h1{
        padding: 20px;
    }
    .project span h2{
        font-size: .9rem;
    }
    .project span {
        text-align: center;
    }

    
    .contact-container{
        padding: 14px 20px;
        grid-template-columns: 1fr 1fr;
    }
    .contact-grid{
        display: none;
    }
    .contact-container h1{
        font-size: .8rem;
    }
    .contact-container p{
        margin-bottom: 5px;
        font-size: .8rem;
    }
    
}

@media only screen and (max-width: 510px){
    .contact-container{
        padding: 10px 0px 10px 14px;
    }
}


@media only screen and (max-width: 450px){
    #works{
        margin-top: 48px;
    }
    .project{
        grid-template-columns: 1fr;
    }
    .project a{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project img{
        width: 80%;
    }
    .project span{
        padding-top: 7px;
    }
    .contact-container svg{
        width: 40px;
        height: 40px;
        color: whitesmoke;
        padding: 10px;
    }
    .location svg{
        width: 45px;
        height: 45px;
    }
    .contact-container h1{
        font-size: .6rem;
    }
    .contact-container p{
        font-size: .5rem;
    }
}




/* samsung galaxy fold */
@media only screen and (max-width: 340px){
    #desc{
        font-size: 1.3rem;
        padding: 38px;
    }
    #works .project span h2{
        font-size: .9rem;
    }
    .skill-container{
        padding: 10px;
    }
    .project{
        padding: 10px;
        grid-template-columns: 1fr;
    }
    #works h1{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    #about{
        height: auto;
    }
    .about-left{
        width: 85%;
        margin: 30px 0px -30px 0px;
    }
    .about-left span{
        width: 100%;
    }
}




/* animation */
.black-to-gray {
    animation: desc-span 1.5s;
}

@keyframes desc-span{
    from{
        color: black;
    }
    to{
        color: #91ac7d;
    }
}
/* PROBLEM di atas(ntah dari mana itu kurung asal kurawal tapi code berjalan bagus aja) */