*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Lora', serif;
    width: 100%;
    /* font-family: 'Noto Serif', serif; */
}
body::-webkit-scrollbar {
    width: 0.45em;
    background-color: #F5F5F5;
  } 
body::-webkit-scrollbar-thumb {
    background-color: #0000009c;
    border-radius: 30px;
} 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }




nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    /* position: fixed; */
    border-bottom: 2px solid whitesmoke;
    background-color: white;
    z-index: 999;
}
nav a{
    text-decoration: none;
    color: black;
}
nav img{
    width: 50px;
    height: 50px;
}
nav span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -10px;
    font-size: .8rem;
    padding-top: 10px;
}
.nav-right svg{
    margin-left: 25px;
}
.nav-left a{
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.nav-left a::after{
    content: '';
    width: 30px;
    height: 2px;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transform: translateY(-30);
    opacity: 0;
    transition: .2s;
}
.nav-left a:hover:after,.nav-left a.selected:after{
    transform: translateX(0);
    opacity: 1;
}

@keyframes navAnim {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



#desc{
    text-align: center;
    font-size: 2.5rem;
    padding: 80px;
    overflow-x: hidden;
    /* background: url(image/desc.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
    /* color: whitesmoke; */
}
#desc p span{
    color: gray;
}
.name{
    position: relative
}
.desc-before{
    width: 30%;
    height: 40px;
    background-color: #6d7c62;
    position: absolute;
    top: 0;
    left: 0;
    /* animation: descBeforeAnim 1.1s ease-out forwards; */
    animation-timing-function: ease-out;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateX(-100%);
}
@keyframes descBeforeAnim{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.desc-after{
    width: 30%;
    height: 40px;
    background-color: #6d7c62;
    position: absolute; 
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    /* animation: descAfterAnim; */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1.1s;
    animation-iteration-count: 1;
}
@keyframes descAfterAnim{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}




#about{
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    padding: 60px 0;
    flex-wrap: wrap;
}
.about-left{
    width: 40%;
    height: 100%;
    /* background-color: aliceblue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-left span{
    width: 370px;
    height: 370px;
    /* background: url(image/profile2.jpg); */
    /* background-color: black; */
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    /* box-shadow: -20px -25px 0px 10px gainsboro; */
}
#image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-profile {
    stroke: black;
    stroke-width: 3px;
    stroke-linejoin: round;
    paint-order: stroke;
  }
/* .about-left span::after{
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 20px 25px 0px 10px gray;
    position: absolute;
} */
.about-left img{
    object-fit: cover;
}
.about-right{
    width: 60%;
    height: 100%;
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    padding: 35px;
    padding-right: 50px;
    flex-direction: column;
    position: relative;
}
.about-right h1{
    padding-bottom: 30px;
    font-family: 'Aboreto', cursive;
}
.about-right p{
    padding-bottom: 10px;
}
.about-skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-skill svg{
    margin-right: 10px;
    color: green;
}
.about-skill li{
    display: flex;
}







#skill{
    padding: 60px 10px;
    text-align: center;
}
#skill h1{
    padding-bottom: 40px;
}
.skill-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px;
}
.skill-container span{
    /* height: 200px; */
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    transition: .3s;
    filter: grayscale(.85);
    position: relative;
}
.skill-container span:hover{
    filter: grayscale(0);
}
.skill-container span img{
    width: 80%;
    padding: 40px 15px;
}
.skill-container span:first-child{
    padding: 10px;
}
.skill-container span h2{
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 1rem;
}



#works{
    text-align: center;
    padding: 60px 10px;
}
#works h1{
    margin-bottom: 30px;
}
.project{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    /* grid-auto-flow: column; */
    width: 100%;
    gap: 10px 40px;
    place-content: center;
    /* place-items: center; */
}
.project img{
    width: 100%;
    /* height: 250px; */
    object-fit: cover;
    /* filter: grayscale(.8); */
    box-shadow: 0px 0px 1px black;
    transition: .3s;
}
.project img:hover{
    filter: grayscale(0);
    box-shadow: 0px 0px 3px black;
}
.project span{
    text-align: left;
    padding: 20px;
}
.project span h2{
    font-size: 1.4rem;
    color: black;
}
.project span p{
    font-size: .8rem;
    color: gray;
    line-height: 15px;
    padding-top: 10px;
}
.project a{
    text-decoration: none;
    width: 100%;
}



#contact{
    width: 100%;
    margin: 20px 0;
}
.contact-container{
    min-width: 100px;
    max-width: 700px;
    margin: auto;
    background: linear-gradient(40deg, #6d7c62, #243319);
    background-size: 300% 300%;
    animation-duration: 8s;
    animation-name: linear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
    color: whitesmoke;
}
@keyframes linear{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.contact-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-container svg{
    width: 50px;
    height: 50px;
    color: white;
    padding: 10px;
}
.contact-container h2{
    font-size: 1rem;
}
.contact-container p{
    margin-bottom: 5px;
}
@keyframes background-animation {
    0% {
      background-color: #6d7c62;
    }
    50% {
      background-color: whitesmoke;
    }
    100% {
      background-color: #6d7c62;
    }
  }









#footer{
    text-align: center;
    padding: 20px;
    color: gray;
    font-size: 1.1rem;
}
#footer a{
    color: green;
    text-decoration: none;
}



@media only screen and (max-width: 885px){
    #about{
        padding: 30px 0;
    }
    .about-skill, .about-right p{
        font-size: .8rem;
    }
    .about-right h1{
        font-size: 1.8rem;
    }
    .about-right svg{
        padding: 3px;
    }
    .about-left span{
        width: 270px;
        height: 270px;
    }
    .study img{
        width: 150px;
    }
    .study img:nth-child(2){
        width: 80px;
    }
    #about h3{
        padding-bottom: 15px;
        font-size: 1rem;
    }
    .skill-container span h2{
        font-size: .9rem;
    }
    #footer{
        font-size: .85rem;
    }
    .project span h1{
        font-size: 1.1rem;
    }
    .project span p{
        font-size: .7rem;
    }
    #works{
        padding: 10px;
    }
}

@media only screen and (max-width: 700px){
    nav{
        font-size: .85rem;
    }
    .skill-container{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 40px;
    }
    #works{
        padding-bottom: 0;
    }
    .project{
        padding-bottom: 15px;
    }
    .profile{
        height: 500px;
    }
    
}

@media only screen and (max-width: 530px){
    #about{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .about-left{
        margin: 30px;
    }
    .about-right{
        width: 80%;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
    .about-right p{
        font-size: 1rem;
    }
    .about-right h1{
        font-size: 2em;
    }
    .about-skill svg{
        padding: 0;
    }
    .about-skill{
        font-size: 1rem;
    }
    .about-right{
        padding: 25px;
    }
    
    .study{
        flex-wrap: wrap;
    }
    .study img{
        width: 120px;
    }
    #desc{
        font-size: 1.8rem;
    }
    .project{
        grid-template-columns: repeat(2, 1fr);
    }
    nav{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .nav-left{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav img{
        width: 30px;
        height: auto;
    }
    .nav-left a{
        margin: 30px;
    }
    .nav-right{
        display: none;
    }
    nav span{
        z-index: 99;
    }
    .profile{
        height: 400px;
    }
    .skill-container span:first-child{
        padding: 0;
    }
    .skill-container span img{
        width: 100%;
    }
    #skill h1{
        padding: 20px;
    }
    .project span h2{
        font-size: .9rem;
    }
    .project span {
        text-align: center;
    }

    
    .contact-container svg{
        width: 40px;
        height: 40px;
        color: whitesmoke;
        padding: 10px;
    }
    .contact-container h2{
        font-size: .8rem;
    }
    .contact-container p{
        margin-bottom: 5px;
        font-size: .6rem;
    }
    
}






/* samsung galaxy fold */
@media only screen and (max-width: 340px){
    #desc{
        font-size: 1.3rem;
        padding: 38px;
    }
    #works .project span h2{
        font-size: .9rem;
    }
    .skill-container{
        padding: 10px;
    }
    .project{
        padding: 10px;
    }
    #works h1{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .about-left{
        width: 100%;
        margin: 30px 0px;
    }
    .about-left span{
        width: 100%;
    }
}








/* animation */
.black-to-gray {
    animation: desc-span 1.5s;
}
@keyframes desc-span{
    from{
        color: black;
    }
    to{
        color: gray;
    }
}